<% if(theme.post.toc.enable){ %>
  <div id="toc">
    <p class="toc-title"><i class="far fa-bookmark"></i>&nbsp;TOC</p> 
    <div id="tocbot"></div>

    <div class="privateBadge">
      <%- theme.issue %>
      <%- theme.issue %>
      <%- theme.issue %>
      <%- theme.issue %>
      <%- theme.issue %>
    </div>
  </div>
  
<% } %>